---
title: Release Notes for ForgeRock Service Broker for PCF
owner: Partners
---

These are release notes for ForgeRock Service Broker for PCF.

##<a id="ver"></a> v2.1.1

**Release Date:** February28, 2019

Features included in this release:

* Tile has been rebuilt to run on Xenial Stemcells

##<a id="ver"></a> v2.0.2 

**Release Date:** August 10, 2017

Features included in this release:

* Tile has been rebuilt with the tile-generator 8.1.4 to fix deployment issues

##<a id="ver"></a> v2.0.1 

**Release Date:** May 19, 2017

Features included in this release:

* Adds a ForgeRock Identity Gateway route service to filter traffic to and from Cloud Foundry applications
* Fixes CVE-2017-4975

##<a id="ver"></a> v1.0.12 

**Release Date:** November 15, 2016

Features included in this release:

* Initial Release

Known issues in this release:

* CVE-2017-4975
